.no-point-list {
  #map {
    height: 100%;
  }
  .point-list-scroller {
    bottom: -$point-list-scroller-height;
    margin-top: -$point-list-scroller-border-width;
    position: fixed;
  }
  .handle {
    @include handle(50px, 30px);
  }
}

.point-list-scroller {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  min-height: 40px;
  width: 100%;
  height: $point-list-scroller-height;
  background: $point-list-item-background;
  border-top: $point-list-scroller-border-width solid $point-list-scroller-border-color;
  font-size: 13px;
  @include transition(all 0.5s);

  .spinner {
    z-index: 0 !important;
  }
}

// Point List

.point-list {
  padding-top: 3px;
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;

  & > * {
    -webkit-transform: translateZ(0px);
  }
}

.point-list--item {
  padding: 10px 40px 10px 10px;
  border-bottom: 1px solid darken($point-list-item-background, 5%);
  border-top: 1px solid lighten($point-list-item-background, 5%);
  background: $point-list-item-background;
  position: relative;
  z-index: 1;
  &:first-of-type {
    border-top: 0;
  }
  cursor: pointer;
}

.point-list--item--header {
  color: $point-list-item-text-color;
  h4 {
    margin: 0 0 5px 0;
    font-size: 14px;
    line-height: 1.4em;
  }
}

.point-list--item--header--distance {
  @include opacity(0.7);
}

.point-list--center-map {
  position: absolute;
  right: 10px;
  top: 11px;
  color: $point-list-item-text-color;
}

.btn-back {
  position: fixed;
  top: 10px;
  left: 10px;
}

// resetting row default style for big screens
@media (min-width: 768px) {
  /* line 11, ../../../../.rvm/gems/ruby-1.9.3-p429/bundler/gems/bootstrap-sass-rails-f6bda34aa7e1/app/assets/stylesheets/twitter/bootstrap/_grid.scss */
  .point-list > .row {
    margin-left: 0;
    margin-right: 0;
  }
}
