
// For sections/point/index
$point-list-item--id : $brand-warning;
$point-list-item-background: #1e1c18;
$point-list-item-text-color: #ccc;

$point-list-scroller-height: 40%;
$point-list-scroller-border-width: 10px;
$point-list-scroller-border-color: darken($point-list-item-background, 10%);

// Buttons
$btn-default-color: #ccc;
$btn-default-bg : #333;
$btn-default-border: #333;

$marker-bg-color: lighten($point-list-item-background, 5%);
$tooltip-color: $marker-bg-color;

.btn-default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}
