$handle-height: 16px;
$handle-width: 50px;

@mixin handle($width:$handle-width, $height:$handle-height) {
  width: $width;
  background: $point-list-scroller-border-color;
  height: $height;
  top: ($height + $point-list-scroller-border-width) * -1;
  margin-left: -$width/2;
}


.handle {
  @include handle();
  position:  absolute;
  left: 50%;
  z-index: 999;
  @include border-top-radius(3px);
  @include box-sizing(border-box);
  cursor: pointer;
}

.handle--bar {
  height: 2px;
  background: lighten($point-list-scroller-border-color, 10%);
  margin: 2px 10px 0;
  &:first-child {
    margin-top: 5px;
  }
}

