// Modal overwrite

.modal-header,
.modal-footer {
  position: absolute;
  height: 70px;
  width: 100%;
}

.modal-title {
  line-height: 40px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.modal-footer {
  bottom: 0;
}

.modal-header {
  top: 0;
  .close {
    margin-top: 6px;
    margin-right: 6px;
  }
}

.modal-body {
  margin: 70px 0 0;
}
