.searchbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999999;
  padding: 20px;
}

.search-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999999;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #000;
  width: 100%;
  height: 100%;
  @include opacity(0.8);
}