<header class="about-bg bg-stretch"></div>
<header class="about--content bg-stretch">
  <div class="hidden-sm col-sm-5 about--iphone">
    <img src="/assets/backgrounds/iphone.png" alt="">
  </div>
  <div class="col-12 col-sm-7 about--title">
    <h1>Mycollecto</h1>
    <h2>The Easiest way to find your collecto taxi</h2>
    <p>
      You want to know which are the closest collecto points to you? Check out this url on your smartphone:
    </p>
    <a href="http://mycollecto.herokuapp.com" class="btn btn-warning">http://mycollecto.herokuapp.com</a>
  </div>
</header>
