<header class="about--content bg-stretch">
  <div class="hidden-xs col-sm-5 about--iphone">
    <img src="/assets/backgrounds/iphone.png" alt="">
  </div>
  <div class="col-xs-12 col-sm-7 about--title">
    <h1>MyCollecto *</h1>
    <h2>The easiest way to find your collecto taxi, and it's free!</h2>
    <h4>
      Get the closest collecto points by visiting this url from your smartphone:
    </h4>
    <br>
    <a {{action switchToPoints}} class="btn btn-warning btn-large">http://mycollecto.be</a>
  </div>
</header>
<section class="footer">
  <div class="col-xs-12">
    * This is a non official application for
    <a href="http://www.bruxellesmobilite.irisnet.be/articles/taxi/comment-ca-marche">Collecto taxi</a>
    - Made by
    <a href="http://rorsvort.com">Boris Rorsvort</a>
    and
    <a href="http://about.me/olivieroger">Olivier Roger</a>
  </div>
</section>
