<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <!-- Be sure to leave the brand out there if you want it shown -->
    {{! <a class="navbar-brand" href="#">Mycollecto</a> }}
    {{#linkTo 'index' class='pull-left btn btn-default navbar-btn'}}
      <i class="icon-search"></i>
    {{/linkTo}}
    {{#linkTo 'about' class='pull-right btn btn-default navbar-btn'}}
      <i class="icon-info"></i>
    {{/linkTo}}
  </div><!-- /.container -->
</div><!-- /.navbar -->
{{outlet}}
