<div class="centered">
  <img src="assets/icons/logo.gif" alt="Mycollecto">
</div>
<div class="location-form centered row">
  <a {{action switchToPoints}} class="col-12 centered btn btn-warning btn-large">
    Use your current location
  </a>
</div>

