<div class="centered">
  <img src="assets/icons/logo.gif" alt="Mycollecto">
</div>
<div class="location-form centered row">
  {{#linkTo 'points' class="col-12 centered btn btn-warning btn-large"}}
    Use your current location
  {{/linkTo}}
</div>

