<div class="point-list-scroller">
  <div class="handle">
    <div class="handle--bar"></div>
    <div class="handle--bar"></div>
    <div class="handle--bar"></div>
  </div>
  <div class="point-list">
    {{#each point in controller}}
      {{view Mycollecto.PointInListView contentBinding='point'}}
    {{/each}}
  </div>
</div>

{{ outlet }}
