<div class="btn btn-default btn-lg" {{action toggleSearchForm}}>
  <i class="icon-search"></i>
</div>
{{view Mycollecto.SearchbarInput class="input-lg form-control hidden" placeholder="Number, Street Name (don't type Brussels)"}}
