@import "twitter/bootstrap";
/*@import "twitter/bootstrap/glyphicons";*/
@import 'entypo';
@import 'entypo-fonts';
@charset "UTF-8";


html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }

#map-canvas { height: 40% }

.point-list-scroller {
  padding: 10px 10px 0;
  background: #fff;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 60%;
  min-height: 40px;
  z-index: 9999;
  background: #fff;
  font-size: 13px;
  overflow: hidden;
}
.point-list {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  & > * {
    -webkit-transform: translateZ(0px);
  }
  .media {
    padding: 10px;
    background: #efefef;
    border-bottom: 1px solid #ccc;
    margin-top: 0;
    i {
      font-size: 34px;
      color: $brand-primary;
    }
  }
}
