{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#paper-button action=(transition-to "index")}}
      {{paper-icon "arrow-back"}}
      Retour
    {{/paper-button}}
    <h3>Comment ça marche?</h3>
  </div>
{{/paper-toolbar}}
{{#paper-content flex=true scroll-y=true layout-padding=true}}
  <p>Collecto est un service de taxis collectifs disponible 7 jours sur 7 entre 23 heures et 6 heures du matin sur tout le territoire de la Région de Bruxelles-Capitale. Ce service est assuré par un ensemble de taxis classiques regroupant plusieurs clients voulant effectuer une course sur un même trajet.</p>
  <p>Collecto propose actuellement plus de 200 points de départ (situés à des arrêts de la STIB), signalés par un panneau similaire à celui repris ci-contre.</p>
  <p>Collecto est très flexible : vous embarquez à un arrêt Collecto déterminé et vous débarquez à l'adresse de votre choix dans les limites de la Région bruxelloise, à l'heure fixe ou à l'heure trente (1h00, 1h30, 2h, 2h30..., dernier départ à 6h). ATTENTION! Notez que le service Collecto est suspendu lors des réveillons du 24 et du 31 décembre.</p>
  <p>Par ailleurs, Collecto est bon marché : 6 € par personne par course, les utilisateurs de la STIB (ayant un abonnement STIB ou une carte MOBIB) ne payent que 5 €.</p>
  <p>Pour savoir s’il s’agit bien de votre taxi, donnez spontanément votre nom au chauffeur. Vous devez absolument être présents au point de départ Collecto à l’heure convenue. Comme le bus, le taxi Collecto ne pourra pas vous attendre!</p>
  <p>Les taxis collectifs complètent le réseau de bus de nuit proposé le week-end de la STIB (Noctis).</p>
  Source: http://www.bruxellesmobilite.irisnet.be/articles/taxi/comment-ca-marche
{{/paper-content}}
